name: Advanced Tests

on:
  workflow_dispatch:
  schedule:
    - cron: '0 17 * * *'

jobs:
  advanced:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v5
      - name: Install rust
        uses: actions-rust-lang/setup-rust-toolchain@ac90e63697ac2784f4ecfe2964e1a285c304003a
        with:
          override: true
          components: rustfmt, clippy
      - name: Cache cargo
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5
      - name: Run advanced tests
        run: RUSTFLAGS="--cfg loom" cargo test --features advanced-tests
